<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALDoAnHoChieu.Properties.Settings.DOAN_HOCHIEUConnectionString"
            connectionString="Data Source=DELL-PC;Initial Catalog=DOAN_HOCHIEU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALDoAnHoChieu.Properties.Settings.DOAN_HOCHIEUConnectionString1"
            connectionString="Data Source=.;Initial Catalog=DOAN_HOCHIEU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALDoAnHoChieu.Properties.Settings.HoChieuConnectionString"
            connectionString="Data Source=.;Initial Catalog=HoChieu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>